

.tlbc-header {
    display: flex;
    width: 100%;
    height: 5rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:space-around;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: rgb(84, 50, 15);
    z-index: 9999;
    left: 0;
    right: 0;
    color: antiquewhite;
}

.index-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/menu-pictures/coffee-beans-pic.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 5rem); /* 5rem = header height */
    padding-top: 5rem;
    box-sizing: border-box;
    color: floralwhite;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 80%;
}

.logo {
    display: flex;
}

.nav-items {
    display: flex;
    gap: 1rem;
}

.nav-items a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 1rem;
    text-decoration: underline;
}

.index-header img {
    display: block;
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.2rem;
    flex-direction: row;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(84, 50, 15);
    height: 4vh;
}

footer a {
    font-size: 0.8rem;
}

h1 {
    font-size: 2.6rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

a {
    font-size: 1.2rem;
    color:plum;
}

section {
    scroll-margin-top: 5rem; /* allows anchor links to scroll cleanly */
    padding-top: 6rem; /* makes room for the fixed header */
    height: calc(100vh - 6rem); /* adjust height to avoid overflow */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    line-height: 2;
    background-color: rgb(108, 68, 27);
    color:floralwhite;
    padding: 2rem 1rem;
}

#menu h2 {
    margin-bottom: 0.5rem;
}

#menu img {
    height: 2rem;
    width: 2rem;
}

#menu p{
    padding: 0.2rem;
    margin: 0.2rem;
}

#pic-snack {
    height: 10rem;
    width: 10rem;
}

img {
    height: 3rem;
    width: 3rem;
}

#product-body section {
    height: auto;
}

#product-body {
    padding-top: 5vh;
}

.products-menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 1rem;
}

td {
    padding: 1rem;
    border: 1px solid white;
    vertical-align: middle;
    text-align: center;
    word-wrap: break-word;
}

.products-menu h2 {
    margin-bottom: 1rem;
    text-align: center;
}

#contact-form-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(108, 68, 27);
    color: floralwhite;
    padding-top: 8vh;
}

.input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
    gap: 1rem;
}

.input-label label {
    width: 40%;
    text-align: left;
    font-size: 1.2rem;
}

.input-label select ,
.input-label input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    height: 0.1rem;
    width: 100%;
}

.input-label select {
    height: 1.5rem;
    width: 100%;
    font-size: 0.7rem;
    padding: 0;
}

#contact-form-body h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description-box label {
    font-size: 1.2rem;
}

#submit-button {
    height: 3rem;
    width: 7rem;
    margin-bottom: 5vh;
}

#admin-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(108, 68, 27);
    color: floralwhite;
    padding-top: 20vh;
}

#admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
    gap: 1rem;
}

#admin-form label {
    width: 40%;
    text-align: left;
    font-size: 1.2rem;
}

#admin-form input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding-top: 3vh;
}

#admin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 7rem;
}

.button-container {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}

#view-enquiries-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 4vh;
    background-color: rgb(108, 68, 27);
    color: floralwhite;
}

.enquiry {
    border: 1px solid plum;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    overflow-wrap: break-word;
}

.enquiry h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    margin: 0 auto;
}

.enquiry button {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#log-out {
    margin: 3vh;
    height: 2.5rem;
    width: 7rem;
    align-self: center;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        width: 95%;
    }

    .nav-items {
        display: flex;
        gap: 0.3rem;
    }

    .nav-items a {
        font-size: 1.4rem;
        padding: 0 1rem;
        text-decoration: underline;
    }

    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 3.2rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    h4 {
        font-size: 1.8rem;
    }
    
    a {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.5rem;
    }

    img {
        height: 6rem;
        width: 6rem;
    }

    td {
        font-size: 1.5rem;
    }

    #contact-form-body {
        justify-content: flex-start;
        margin: 0 auto;
    }
    
    .input-label {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 100%;
        gap: 1rem;
    }
    
    .input-label label {
        width: 45%;
        text-align: left;
        font-size: 1.7rem;
    }
    
    .input-label select ,
    .input-label input {
        flex: 1;
        padding: 0.5rem;
        font-size: 1.3rem;
        height: 0.5rem;
        width: 100%;
    }
    
    .input-label select {
        height: 1.5rem;
        width: 100%;
        font-size: 1rem;
        padding: 0;
    }
    
    #contact-form-body h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    
    #description-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #description-box label {
        font-size: 1.7rem;
    }

    #description::placeholder {
        font-size: 1rem;
    }
    
    #submit-button {
        height: 3rem;
        width: 7rem;
        margin-bottom: 5vh;
        font-size: 1.2rem;
    }
    
    #admin-form label {
        width: 40%;
        text-align: left;
        font-size: 1.7rem;
    }
    
    #admin-form input {
        flex: 1;
        padding: 0.5rem;
        font-size: 1.2rem;
        width: 100%;
    }

    #admin-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 10rem;
        font-size: 1.2rem;
    }

    .enquiry {
        font-size: 1.6rem;
        align-self: center;
    }

    .enquiry h3 {
        font-size: 1.7rem;
    }

    .enquiry button {
        height: 3rem;
        width: 7rem;
        font-size: 1.1rem;
    }

    #log-out {
        height: 4rem;
        width: 10rem;
        font-size: 1.2rem;
        padding: 1rem;;
    }

    #enquiries-header h2{
        font-size: 2rem;
    }

}

@media (min-width: 1025px) {

    img {
        height: 8rem;
        width: 8rem;
    }

    td {
        font-size: 1rem;
    }

    #enquiry-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        width: 100%;
        justify-items: center;
        max-width: 1200px;
        padding: 1rem;
        box-sizing: border-box;
    }
    
    
    .enquiry {
        border: 1px solid plum;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-wrap: break-word;
    }
}

@media  (max-width: 767px) {

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: floralwhite; /* or white if on dark background */
    border-radius: 2px;
  }

  /* Hide nav items by default on mobile */
  .nav-items {
    display: none;
    flex-direction: column;
    background-color: rgb(84, 50, 15);
    position: absolute;
    top: 60px; /* adjust to fit under your header */
    right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .nav-items.active {
    display: flex;
  }

  .logo {
    font-size: 1.5rem;
  }

  .index-header h1 {
    font-size: 2.4rem;
    margin-top: 2.5rem;
  }

  .index-header h3 {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }

  .index-header img {
    display: block;
    height: 10rem;
    width: 10rem;
    margin-top: 1rem;
}

#menu {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-items > * {
  margin: 0;
  padding: 0.5rem 0; /* or adjust spacing to your preference */
}

#contact-form-body h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

    #enquiries-header h2{
        font-size: 1.5rem;
    }

}